/* Hero Section Styles */
.hero-section {
    position: relative;
    text-align: center;
    color: white;
    height: 50vh;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../docs_docs.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}